AccessCCEE/Connected Services/wsListarMed/ListarMedidaBSv125.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/BO/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Periodo">
    <xsd:annotation>
      <xsd:documentation>Representação de tempo</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inicio" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fim" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nome" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="numero" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>