AccessCCEE/Connected Services/wsListarMed/ListarMedidaBSv126.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/BO/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd25.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd26.xsd" />
  <xsd:complexType name="TipoEndereco">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Dominio" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TipoLogradouro">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Dominio" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnderecoPostal">
    <xsd:annotation>
      <xsd:documentation>Endereco postal</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipo" type="tns:TipoEndereco" />
      <xsd:element minOccurs="0" name="codigoEnderecamentoPostal" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoLogradouro" type="tns:TipoLogradouro" />
      <xsd:element minOccurs="0" name="logradouro" type="xsd:string" />
      <xsd:element minOccurs="0" name="numero" type="xsd:string" />
      <xsd:element minOccurs="0" name="complemento" type="xsd:string" />
      <xsd:element minOccurs="0" name="pais" type="tns:TipoFronteiraGeografica" />
      <xsd:element minOccurs="0" name="estado" type="tns:TipoFronteiraGeografica" />
      <xsd:element minOccurs="0" name="cidade" type="tns:TipoFronteiraGeografica" />
      <xsd:element minOccurs="0" name="bairro" type="tns:TipoFronteiraGeografica" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="endereco" type="tns:EnderecoPostal" />
</xsd:schema>