AccessCCEE/Connected Services/wsListarMed/ListarMedidaBSv16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="UsernameTokenType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Username" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityHeaderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="UsernameToken" type="tns:UsernameTokenType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Security" type="tns:SecurityHeaderType" />
</xsd:schema>