AccessCCEE/Connected Services/wsListarMed/ListarMedidaBSv113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/MH/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/MH/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>XSD que define a os elementos do messageHeader, para serem usados por todos os servicos da CCEE.</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>LOG DE VERSOES</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>DATA		VERSAO		AUTOR					DESCRICAO</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>13/03/2014	1.0		Fernando Campos				Versao inicial</xsd:documentation>
    <xsd:documentation>18/03/2014	1.1		Fernando Campos				Alteradas declaracoes de namespace</xsd:documentation>
    <xsd:documentation>09/04/2014	1.2		Fernando Campos				Alterado campo clientId para codigoPerfilAgente</xsd:documentation>
    <xsd:documentation>14/05/2014	1.3		Fernando Campos				Adicionada listaCodigoPerfilAgente / Alterado campo transactionId para opcional</xsd:documentation>
    <xsd:documentation>09/06/2014	1.4		Fernando Campos				Alterado namespace</xsd:documentation>
    <xsd:documentation>10/08/2016	1.5		Fernando Campos				Alterado codPerfilAgente para opcional</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="messageHeader" type="tns:MessageHeaderType" />
  <xsd:complexType name="MessageHeaderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="codigoPerfilAgente" nillable="true" type="tns:CodigoPerfilAgenteType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="transactionId" nillable="true" type="tns:TransactionType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="listaCodigoPerfilAgente" type="tns:ListaCodigoPerfilAgenteType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="versao" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CodigoPerfilAgenteType">
    <xsd:annotation>
      <xsd:documentation>Código do perfil do Agente</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionType">
    <xsd:annotation>
      <xsd:documentation>ID da Transacao</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ListaCodigoPerfilAgenteType">
    <xsd:annotation>
      <xsd:documentation>Lista de codigos de perfil de agente obtidas no LDAP</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="codigoPerfilAgente" type="tns:CodigoPerfilAgenteType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>