AccessCCEE/Connected Services/wsListarMedida/ListarMedidaBSv119.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/FM" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/FM" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Fault" abstract="true">
    <xsd:sequence>
      <xsd:element maxOccurs="1" name="errorCode" type="xsd:string" />
      <xsd:element maxOccurs="1" name="message" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="uri" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="transactionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>