AccessCCEE/Connected Services/wsListarMedida/ListarMedidaBSv116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Dominio" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Representação de código e descrição de dominios</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="descricao" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>