AccessCCEE/Connected Services/wsListarMedida/ListarMedidaBSv15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/BO/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd10.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd11.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd13.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd12.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd30.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd14.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd31.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd16.xsd" />
  <xsd:complexType name="Medida">
    <xsd:annotation>
      <xsd:documentation>Conjunto de informações referentes a uma medida</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="periodo" type="tns:Periodo" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pontoMedicao" type="tns:PontoMedicao" />
      <xsd:element minOccurs="0" maxOccurs="1" name="medidor" type="tns:Medidor" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tipoMedicao" type="tns:TipoMedicao" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tipo" type="tns:TipoMedida" />
      <xsd:element minOccurs="0" maxOccurs="1" name="subTipo" type="tns:SubTipoMedida" />
      <xsd:element minOccurs="0" maxOccurs="1" name="status" type="tns:StatusMedida" />
      <xsd:element minOccurs="0" maxOccurs="1" name="geracaoAtiva" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="geracaoReativo" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="consumoAtivo" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="consumoReativo" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="unidade" type="tns:UnidadeMedida" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>