AccessCCEE/Connected Services/wsListarMedida/ListarMedidaBSv12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/BO/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="TipoFronteiraGeograficaEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PAIS" />
      <xsd:enumeration value="SUBMERCADO" />
      <xsd:enumeration value="ESTADO" />
      <xsd:enumeration value="CIDADE" />
      <xsd:enumeration value="BAIRRO" />
      <xsd:enumeration value="CODIGO_POSTAL" />
      <xsd:enumeration value="ENDERECO" />
      <xsd:enumeration value="RUA" />
      <xsd:enumeration value="NUMERO" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TipoFronteiraGeografica">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tipo" type="tns:TipoFronteiraGeograficaEnum" />
      <xsd:element minOccurs="0" maxOccurs="1" name="descricao" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>