AccessCCEE/Connected Services/wsListarMedida/ListarMedidaBSv112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://xmlns.energia.org.br/BO/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.energia.org.br/BO/v1" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd17.xsd" />
  <xsd:include schemaLocation="ListarMedidaBSv1.xsd28.xsd" />
  <xsd:complexType name="Agencia">
    <xsd:annotation>
      <xsd:documentation>Conjunto de informações referentes a uma Agência Bancária</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:Organizacao">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="numero" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="digitoVerificador" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="banco" type="tns:Banco" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>